@import url('https://fonts.googleapis.com/css2?family=Prosto+One&family=Raleway:wght@900&family=Roboto:wght@500&family=Russo+One&display=swap');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html, body{
	height: 100%;
}

/* полоса прокрутки (скроллбар) */
::-webkit-scrollbar {
    width: 15px; /* ширина для вертикального скролла */
    background-color: #343434;
}

/* ползунок скроллбара */
::-webkit-scrollbar-thumb {
    background-color: #e46700;
    border-radius: 5em;
}

.wrapper{
	width: 100%;
	display: flex;
	/* justify-content: center; */
	align-items: center;
    flex-direction: column;
    border: none;
    padding-bottom: 50px;
    background: #ec7530;
    background-size: cover;
}
.wrapper>div{
    width: 100%;
}
.header-inner{
    width: 100%;
    border: 2px solid black;
    height: 100px;
    display: flex;
	justify-content: space-between;
	/* align-items: center; */
    padding: 10px 40px 10px 140px;
    background-color:rgb(60, 60, 60);
}