*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html, body{
	height: 100%;

}
.wrapper{
	width: 100%;
	display: flex;
	/* justify-content: center; */
	align-items: center;
    flex-direction: column;
    border: none;
    padding-bottom: 50px;

}

.hat{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	border: 10px solid red;
	height: 100px;
}